<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Hackathon_Socialcommerce>
			<version>1.0.1</version>
		</Hackathon_Socialcommerce>
	</modules>

	<default>
		<socialcommerce>
			<messages>
				<new_product>Check our new product :name :link</new_product>
                <new_category>Check our new category</new_category>
                <new_order>Another satisfied customer</new_order>
			</messages>
			<urlshortener>
				<service>bitly</service>
			</urlshortener>
			<urlshortenerservice_bitly>
				<version>2.0.1</version>
				<domain>bit.ly</domain>
			</urlshortenerservice_bitly>
		</socialcommerce>
	</default>

	<global>
		<blocks>
			<socialcommerce>
				<class>Hackathon_Socialcommerce_Block</class>
			</socialcommerce>
		</blocks>

		<models>
			<socialcommerce>
				<class>Hackathon_Socialcommerce_Model</class>
				<resourceModel>socialcommerce_resource</resourceModel>
			</socialcommerce>

			<socialcommerce_resource>
				<class>Hackathon_Socialcommerce_Model_Resource</class>
				<entities>
					<shorturl>
						<table>socialcommerce_shorturl</table>
					</shorturl>
				</entities>
			</socialcommerce_resource>
		</models>

		<helpers>
			<socialcommerce>
				<class>Hackathon_Socialcommerce_Helper</class>
			</socialcommerce>
		</helpers>

		<resources>
			<socialcommerce_setup>
				<setup>
					<module>Hackathon_Socialcommerce</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</socialcommerce_setup>

			<socialcommerce_write>
				<connection>
					<use>core_write</use>
				</connection>
			</socialcommerce_write>

			<socialcommerce_read>
				<connection>
					<use>core_read</use>
				</connection>
			</socialcommerce_read>
		</resources>
	</global>

	<adminhtml>

        <layout>
            <update<>
                <socialcommerce>
                    <file>socialcommerce.xml</file>
                </socialcommerce>
            </update<>
        </layout>
        
		<events>
			<catalog_product_save_after>
				<observers>
					<socialcommerce_catalog_product_save_after>
						<type>singleton</type>
						<class>socialcommerce/observer</class>
						<method>onCatalogProductSaveAfter</method>
					</socialcommerce_catalog_product_save_after>
				</observers>
			</catalog_product_save_after>
		
            <sales_convert_quote_to_order>
                <observers>
                    <socialcommerce_sales_convert_quote_to_order>
<!--                         <type>singleton</type> -->
                        <type>disabled</type>
                        <class>socialcommerce/observer</class>
                        <method>onSalesConvertQuoteToOrder</method>
                    </socialcommerce_sales_convert_quote_to_order>
                </observers>
            </sales_convert_quote_to_order>

            <catalog_category_save_after >
                <observers>
                    <socialcommerce_catalog_category_save_after>
<!--                         <type>singleton</type> -->
                        <type>disabled</type>
                        <class>socialcommerce/observer</class>
                        <method>onCatalogCategorySaveAfter</method>
                    </socialcommerce_catalog_category_save_after>
                </observers>
            </catalog_category_save_after >

		</events>
	</adminhtml>
</config>