<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Hackathon_Socialcommerce>
			<version>1.0.0</version>
		</Hackathon_Socialcommerce>
	</modules>

	<default>
		<socialcommerce>
			<urlshortener>
				<service>bitly</service>
			</urlshortener>
		</socialcommerce>
	</default>

	<global>
		<blocks>
			<socialcommerce>
				<class>Hackathon_Socialcommerce_Block</class>
			</socialcommerce>
		</blocks>

		<models>
			<socialcommerce>
				<class>Hackathon_Socialcommerce_Model</class>
			</socialcommerce>
		</models>

		<helpers>
			<socialcommerce>
				<class>Hackathon_Socialcommerce_Helper</class>
			</socialcommerce>
		</helpers>

		<resources>
			<socialcommerce_setup>
				<setup>
					<module>Hackathon_Socialcommerce</module>
				</setup>
				<connection>
                    <use>core_setup</use>
                </connection>
			</socialcommerce_setup>

            <socialcommerce_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </socialcommerce_write>

            <socialcommerce_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </socialcommerce_read>
		</resources>
	</global>

    <adminhtml>
        <events>
            <catalog_product_save_before>
                <observers>
                    <socialcommerce_catalog_product_save_before>
                        <type>singleton</type>
                        <class>socialcommerce/observer</class>
                        <method>onCatalogProductSaveBefore</method>
                    </socialcommerce_catalog_product_save_before>
                </observers>
            </catalog_product_save_before>
        </events>
    </adminhtml>
</config>