<?xml version="1.0" encoding="UTF-8"?>
<config>
	<tabs>
		<socialcommerce translate="label" module="socialcommerce">
			<label>Hackathon</label>
			<!-- sort_order>400</sort_order -->
		</socialcommerce>
	</tabs>
	<sections>
		<socialcommerce translate="label" module="socialcommerce">
			<class>separator-top</class>
			<label>Social Commerce</label>
			<tab>socialcommerce</tab>
			<sort_order>10</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<groups>
				<twitter translate="label">
					<label>Twitter Configuration</label>
					<frontend_type>text</frontend_type>
					<sort_order>10</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>0</show_in_website>
					<show_in_store>0</show_in_store>
					<comment><![CDATA[Provide here the API information provided by Twitter. Check the <a href="https://dev.twitter.com">API documentation</a>]]></comment>
					<fields>
						<consumer_key translate="label">
							<label>Consumer Key</label>
							<frontend_type>text</frontend_type>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</consumer_key>
						<consumer_secret translate="label">
							<label>Consumer Secret</label>
							<frontend_type>text</frontend_type>
							<sort_order>20</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</consumer_secret>
						<auth_token translate="label">
							<label>Authorization Token</label>
							<frontend_type>text</frontend_type>
							<sort_order>30</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</auth_token>
						<token_secret translate="label">
							<label>Token Secret Secret</label>
							<frontend_type>text</frontend_type>
							<sort_order>40</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</token_secret>
					</fields>
				</twitter>
				<bitly translate="label">
					<label>Bitly.com Configuration</label>
					<frontend_type>text</frontend_type>
					<sort_order>10</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>0</show_in_website>
					<show_in_store>0</show_in_store>
					<fields>
						<api_username translate="label">
							<label>API Username</label>
							<frontend_type>text</frontend_type>
							<sort_order>1</sort_order>
							<comment><![CDATA[Provide here the API key provided by Bitly.com. Check the <a href="http://dev.bitly.com">API documentation</a>]]></comment>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</api_username>
						<api_key translate="label">
							<label>API Key</label>
							<frontend_type>text</frontend_type>
							<sort_order>1</sort_order>
							<comment><![CDATA[Provide here the API key provided by Bitly.com. Check the <a href="http://dev.bitly.com">API documentation</a>]]></comment>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</api_key>
					</fields>
				</bitly>
			</groups>
		</socialcommerce>
	</sections>
</config>